<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.talentprogram">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Activities.TeacherDetailActivity">
        </activity>
        <activity android:name=".Activities.ActivitiesDetailActivity">
        </activity>

        <activity android:name=".Activities.StudentDetailActivity">
        </activity>

        <activity android:name=".Activities.CourseDetailActivity">
        </activity>
        <activity android:name=".Activities.ActivitiesActivity">
        </activity>
        <activity android:name=".Activities.StudentActivity">
        </activity>
        <activity android:name=".Activities.TeacherActivity">
        </activity>
        <activity android:name=".Activities.CourseActivity">
        </activity>
        <activity
                android:name=".Activities.LoginActivity"
                android:theme="@style/AppThemeMaterial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Activities.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>